html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  background: #27264b;
  color: #433f63;
}

a {
  color: #007bff;
}

p {
  font-size: 1.6rem;
}

li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.container {
  max-width: 1100px;
  border-radius: 5px;
  margin: 5rem auto 0;
  padding: 4rem;
  background: #f3f3f3;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* Card */
.card {
  max-width: 320px;
  background: #fff;
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.45);
}

.card h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 15px;
  color: #333;
  background: #f8fafe;
}

.card_pro h2 {
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.card_enterprise h2 {
  background: radial-gradient(circle, rgba(142, 219, 123, 1) 0%, rgba(85, 146, 217, 1) 100%);
}

/* Price */
.card .price {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card .price sup {
  font-size: 18px;
  position: relative;
  left: -5px;
  top: -5px;
}

.card .price span {
  font-size: 1.2rem;
  margin-left: 5px;
}

.card .main_txt {
  font-size: 1.4rem;
  margin-bottom: 50px;
}

/* Buttons */
.btn {
  display: block;
  border: 1px solid #27264b;
  color: #27264b;
  padding: 10px 0;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.btn_primary,
.btn:hover {
  background: #27264b;
  color: #f3f3f3;
  letter-spacing: 0.5px;
}

.btn_primary:hover {
  background: #f3f3f3;
  color: #27264b;
}

/* List */
.card ul {
  text-align: left;
  margin-top: 30px;
}

.card ul li i {
  color: #98ca9e;
  margin-right: 10px;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .container {
    background: none;
  }
}

@media only screen and (max-width: 768px) {
  .pricing {
    flex-direction: column;
  }

  .container {
    margin: 2rem;
  }
}

/* Flickering animation */
.text_glow {
  animation: flicker 3s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 14px #fff, 0 0 20px #27264b, 0 0 40px #27264b, 0 0 50px #27264b,
      0 0 60px #27264b, 0 0 150px #27264b;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
